<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
<link href="@Url.Content("~/Content/AdminDashboard.css")" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">



</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size:18px">
                    <li><a href="/Admin/Dashboard">Home</a></li>
                    <li><a href="/Admin/ViewProfile">Profile</a></li>
                    @*<li><a href="/Admin/Add">Add admin</a></li>*@
                    <li><a href="/Employee/Show">Manage User</a></li>
                    <li><a href="/Employee/Verify">Verify User</a></li>
                    <li><a href="/Post/AllPost">Timeline</a></li>
                    <li><a href="/Job/Show">Jobs post</a></li>
                    <li><a href="/Employee/Report">Employee report</a></li>
                    <li><a href="/Home/Logout" style="color:red;">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>

    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
