<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a href="/Business/Dashboard" class="btn btn-success">Business Home</a>
        <a href="" class="btn btn-danger">List</a>
        <a href="" class="btn btn-danger">Logout</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
